<h1><%= CLIENT.user(@user.uid).screen_name %></h1>
<p>Favorites: <%= CLIENT.user(@user.uid).favourites_count %></p>
<p><%= CLIENT.user(@user.uid).name %></p>
<p><%= @user.id %></p>
  <ol>
  <% CLIENT.favorites(@user.uid).each do |status| %>
    <li>
      <p><%= status.text %></p>
      <p><%= status.user.name %> (@<%= status.user.screen_name %>), <%= status.created_at %></p>
    </li>
  <% end %>
</ol>